{# templates/security/changepasswd.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="col-md-8">
        <h2 class="my-4">Inscrivez-vous</h2>

        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form(form) }}
    </div>
{% endblock %}

